.container {
    width: 1200px;
    margin: 50px auto;
    li {
        float: left;
        width: 240px;
        margin: 15px 10px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);
        &:nth-child(1) {
            transform: rotate(30deg);
        }
        &:nth-child(2) {
            transform: rotate(-20deg);
        }
        &:nth-child(3) {
            transform: rotate(20deg);
        }
        &:nth-child(4) {
            transform: rotate(-10deg);
        }
        &:nth-child(5) {
            transform: rotate(20deg);
        }
        &:nth-child(6) {
            transform: rotate(-30deg);
        }
        &:nth-child(7) {
            transform: rotate(50deg);
        }
        &:nth-child(8) {
            transform: rotate(-20deg);
        }
        &:nth-child(8) {
            transform: rotate(-32deg);
        }
        &:nth-child(9) {
            transform: rotate(25deg);
        }
        &:nth-child(10) {
            transform: rotate(-10deg);
        }
        &:nth-child(11) {
            transform: rotate(20deg);
        }
        &:hover {
            transform: rotate(0deg) scale(1.1);
        }
        img {
            width: 230px;
            height: 270px;
            border-radius: 5px;
            vertical-align: bottom;
        }
    }
}
