.banner {
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
    position: relative;
    height: 240px;
    overflow: hidden;
    width: 100%;
    .list {
        width: 600%;
        height: 100%;
        font: 24px/240px "微软雅黑";
        color: #fff;
        transition: all 0.5s;
        li {
            width: 1225px;
            float: left;
            height: 240px;
            &:nth-child(1) {
                background: pink;
            }
            &:nth-child(2) {
                background: skyblue;
            }
            &:nth-child(3) {
                background: darkkhaki;
            }
            &:nth-child(4) {
                background: sandybrown;
            }
            &:nth-child(5) {
                background: olive;
            }
            &:nth-child(6) {
                background: orchid;
            }
        }
    }
    .btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -180px !important;
        .active {
            background: skyblue;
            font-size: 18px;
        }
        li {
            float: left;
            width: 40px;
            font: 14px/40px "微软雅黑";
            border-radius: 50%;
            background: orange;
            color: #fff;
            margin: 0 10px;
            transition: all .5s;
            cursor: pointer;
        }
    }
    .arrow_l, .arrow_r {
        position: absolute;
        width: 60px;
        text-align: center;
        font: 44px/80px "微软雅黑";
        color: #fff;
        background: rgba(0, 0, 0, 0.3);
        top: 50%;
        margin-top: -40px;
        text-decoration: none;
        left: 20px;
        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }
    .arrow_r {
        left: calc(100% - 80px);
    }
}
