/* 页面顶部滚动条 */
.top_progress_bar_Animation {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #0A74DA;
    z-index: 9999;
}

/* 百分比进度条 */
.progress-out {
    position: relative;
    border: 1px solid #b9c1c1;
    background-color: #888888;
    border-radius: 0.28571429rem;
    .progress-in {
        position: absolute;
        height: 100%;
        width: 0%;
        border: none;
        background-color: #00B5AD;
        background-image: linear-gradient(top, #15E5D8 0%, #12EADE 40%, #1ABFB4 100%);
        background-image: -webkit-linear-gradient(top, #15E5D8 0%, #12EADE 40%, #1ABFB4 100%);
        background-image: -moz-linear-gradient(top, #15E5D8 0%, #12EADE 40%, #1ABFB4 100%);
        background-image: -o-linear-gradient(top, #15E5D8 0%, #12EADE 40%, #1ABFB4 100%);
        background-image: -ms-linear-gradient(top, #15E5D8 0%, #12EADE 40%, #1ABFB4 100%);
        text-align: center;
        color: #fff;
        z-index: 1;
    }
    .direction-left {
        left:0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .direction-right {
        right:0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .percent-show {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        z-index: 2;
    }
}

/* 循环进度条 */
.load-bar {
    width: 200px;
    height: 25px;
    border-radius: 30px;
    background: #dcdbd7;
    position: relative;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 2px 3px rgba(0, 0, 0, 0.2);
    &:hover {
        .load-bar-inner {
            animation-play-state: paused;
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            -webkit-animation-play-state: paused;
        }
    }
    .load-bar-inner {
        height: 99%;
        width: 0%;
        border-radius: inherit;
        position: relative;
        background: #c2d7ac;
        background: linear-gradient(#e0f6c8, #98ad84);
        background: -moz-linear-gradient(#e0f6c8, #98ad84);
        background: -webkit-linear-gradient(#e0f6c8, #98ad84);
        background: -o-linear-gradient(#e0f6c8, #98ad84);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 5px rgba(0, 0, 0, 0.3), 0 4px 5px rgba(0, 0, 0, 0.3);
        animation: loader 10s linear infinite;
        -moz-animation: loader 10s linear infinite;
        -webkit-animation: loader 10s linear infinite;
        -o-animation: loader 10s linear infinite;
    }
}
@keyframes loader { from { width: 0%; } to { width: 100%; } }
@-moz-keyframes loader { from { width: 0%; } to { width: 100%; } }
@-webkit-keyframes loader { from { width: 0%; } to { width: 100%; } }
@-o-keyframes loader { from { width: 0%; } to { width: 100%; } }

/* text-shadow */
.other_text_shadow {
   text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   color: white;
   font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

/* border */
$height: 24px;
$width: 12px;
@mixin parallelogram-color($color) {
    background: $color;
    &:before {
        border-color: transparent $color $color transparent;
    }
    &:after {
        border-color: $color transparent transparent $color;
    }
}
@mixin triangle() {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: $height/2 $width/2;
    top: 0;
}
.border_transform {
    .border_1 {
        width: 20px;
        height: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: red green blue brown;
        display: inline-block;
    }
    .border_2 {
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: red green blue brown;
        display: inline-block;
    }
    .border_3 {
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: red transparent transparent transparent;
        display: inline-block;
    }
    .para {
        display: inline-block;
        position: relative;
        padding: 0 10px;
        height: $height;
        line-height: $height;
        margin-left: $width;
        color: #fff;
        &:after {
            @include triangle();
            right: -$width;
        }
        &:before {
            @include triangle();
            left: -$width;
        }
        @include parallelogram-color(red);
    }
    .city {
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid #44a5fc;
        color: #333;
        transform: skew(-20deg);
        div {
            transform: skew(20deg);
        }
    }
}

/* click button */
.click_button {
    display: block;
    width: 120px;
    height: 41px;
    margin: 0 auto;
    background: url(../img/btn.png) no-repeat;
    &:hover {
        background: url(../img/btn.png) no-repeat 0 -41px;
    }
}

.analog_icon {
    .plus {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        font-size: 20px;
        width: 20px;
        height: 20px;
        &:before, &:after {
            content: '';
            pointer-events: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            box-shadow: inset 0 0 0 1em;
        }
        &:before {
            width: 1em;
            height: 2px;
        }
        &:after {
            width: 2px;
            height: 1em;
        }
    }
    .img {
        font-size: 30px;
        display: inline-block;
        position: relative;
        width: 3em;
        height: 2.7em;
        border: 0.17em solid #2ba5bb;
        border-radius: 0.7rem;
        box-sizing: border-box;
        overflow: hidden;
        &:before, &:after {
            content: '';
            position: absolute;
            pointer-events: none;
            color: #2ba5bb;
        }
        &:before {
            right: 0.6em;
            top: 0.6em;
            border-radius: 50%;
            width: 0.33em;
            height: 0.33em;
            box-shadow: inset 0 0 0 1em;
        }
        &:after {
            width: 3em;
            height: 2.5em;
            left: -0.5em;
            bottom: -1.9em;
            box-shadow: inset 0 0 0 2em,1.1em -0.7em 0 0;
            transform: rotate(45deg);
        }
    }
}


/* error page start */
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}
.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

@-webkit-keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; }}
@keyframes fadeInUp { from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } to { opacity: 1; -webkit-transform: none; transform: none; }}
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

.error_page {
    background: url(../img/propeller-bg.jpg) center no-repeat #174eaa;
    height: 100%;
    font-family: Nova Oval !important;
    font-size: 24px;
    .content {
        padding: 165px 0;
    }
    .header-primary {
        padding: 8px 0;
        text-align: center;
        & > a {
            transition: opacity 0.3s ease-in-out 0s;
        }
        .logo {
            animation: 1.2s linear 0s normal none 1 running fadeInUp;
        }
    }
    .content-primary {
        margin: 0 auto;
        padding: 0px 0 224px;
        text-align: center;
        color:#fff;
        .section-footer {
            margin-top: 40px;
        }
        h1.title {
            color:#fff;
            font-size: 48px;
        }
        & > h1 {
            animation: 1.7s linear 0s normal none 1 running fadeInUp;margin-bottom: 20px;
        }
        & > p {
            font-weight: bold;
            animation:1.9s linear 0s normal none 1 running fadeInUp;
        }
        .section-footer {
            .btn {
                margin:0 8px;
                min-width:160px;
                font-weight: bold;
                &.btn-primary {
                    background: #4285f4;
                    animation:2.4s linear 0s normal none 1 running fadeIn;
                    &:hover {
                        background-color: #4e6cef;
                        border-color: transparent;
                    }
                }
                &.btn-secondary {
                    background: #3c87da;
                    color: #fff;
                    animation:2.8s linear 0s normal none 1 running fadeIn;
                    &:hover {
                        background-color: #1e77d8;
                    }
                }
            }
        }
    }
}
/* error page end */
