<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>angular 与 原生 写法</title>
</head>
<body ng-controller="DemoCtrl">
    <p>angular:</p>
    <input type="text" id="value" ng-model="value">
    <input type="button" value="*2" id="btn" ng-click="doCalc()">

    <p>原生:</p>
    <input type="text" id="value">
    <input type="button" value="*2" id="btn">
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript">
        /*
         * angular
         * ng-app 声明当前DOM被angular库中定义的一个模块所托管
         */
        (function (window) {
            // 此处代码不会污染全局作用域
            var myApp = window.angular.module('myApp', []);
            myApp.controller('DemoCtrl', function($scope){
                $scope.value = 1;
                $scope.doCalc = function(){
                    $scope.value = $scope.value * 2;
                };
            });
        })(window);

        // 原生
        (function(window){
            // querySelector找到界面按钮dom元素
            window.document.querySelector('#btn')
                .addEventListener('click', function(){
                    // 获取DOM元素
                    var input = window.document.querySelector('#value');
                    var value = input.value; // 取数值
                    value = value - 0;       // 改变类型 两种方法
                    // value = parseInt(value, 0);

                    value = value * 2;       // 改变数值
                    input.value = value;     // 赋值返回
                });
        })(window);
    </script>
    <pre>
        angular 写法:
        type="text" id="value" ng-model="value"
        type="button" value="*2" id="btn" ng-click="doCalc()"
        /*
         * ng-app 声明当前DOM被angular库中定义的一个模块所托管
         */
        (function (window) {
            // 此处代码不会污染全局作用域
            var myApp = window.angular.module('myApp', []);
            myApp.controller('DemoCtrl', function($scope){
                $scope.value = 1;
                $scope.doCalc = function(){
                    $scope.value = $scope.value * 2;
                };
            });
        })(window);

        原生 写法:
        input type="text" id="value"
        input type="button" value="*2" id="btn"
        (function(window){
            // querySelector找到界面按钮dom元素
            window.document.querySelector('#btn')
                .addEventListener('click', function(){
                    // 获取DOM元素
                    var input = window.document.querySelector('#value');
                    var value = input.value; // 取数值
                    value = value - 0;       // 改变类型 两种方法
                    // value = parseInt(value, 0);

                    value = value * 2;       // 改变数值
                    input.value = value;     // 赋值返回
                });
        })(window);
    </pre>
</body>
</html>
