<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
  <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
             aria-label="Show User List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>Angular Material - Starter App</h1>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

  <!-- Container #3 -->
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="left" ng-click="app.toggleList()">
    <!-- Custom UsersList component -->
    <users-list
        users="users"
        selected="selected"
        on-selected="selectUser(user)">
    </users-list>
  </md-sidenav>

  <!-- Container #4 -->
  <md-content flex id="content">
    <!-- Custom UserDetails component -->
    <user-details
        selected="selected" >
    </user-details>
  </md-content>

</div>
<div id="myDiv"><h3>Let AJAX change this text</h3></div>
<button type="button" ng-click="loadXMLDoc()">Change Content</button>
